<div class="container">
    @if (register) {
        <div class="title">
            <h2>Register to save your history</h2>
            <h5 (click)="goToLogin()">Click here if you already have an account</h5>
        </div>
    } @else {
        <div class="title">
            <h2>Login to your account</h2>
            <h5 (click)="goToRegister()">Click here to create an account</h5>
        </div>
    }
    <form class="form" [formGroup]="form">
        @if(error.invalid){
            <div>All fields are required</div>
        }@else if (error.api) {
            <div>Wrong email or password</div>
        }
        <div class="control">
            <label for="email">Email</label>
            <input type="text" name="email" formControlName="email">
        </div>
        @if (register) {
            <div class="control">
                <label for="username">Username</label>
                <input type="test" name="username" formControlName="username">
            </div>
        }

        <div class="control">
            <label for="password">Password</label>
            <input type="password" name="password" formControlName="password">
        </div>

        <input id="submit" type="submit" value="Login" (click)="onSubmit($event)">
    </form>
</div>
